html {
	height: 98%;
	font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

section {
	flex: 1;
}

header img {
	display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

header h1 {
	display: inline-block;
}
/*
div {
	clear: both;
}*/

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#events_caption {
	max-width: 190px;
	text-align: center;
  	font-style: italic;
  	font-size: smaller;
}

section {
	word-wrap: break-word;
}

h2 {
	text-align: center;
}

img.center {
    display: block;
	max-width:100%;
    border-style: ridge;
    margin-left: auto;
    margin-right: auto;
}

.floating-box {
    display: inline-block;
    margin: 1em 1em 1em 1em;
    max-width: 20em;
}

/* drop-down-less nav
ul.nav {
    list-style-type: none;
    margin: .5em 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}*/

ul.no_style {
    list-style-type: none;
}

li.extra_paragraph_space {
	margin-bottom: 1em;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    /*float: left;*/
    display: inline-block;
}

li.nav a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

b.subheading {
	font-size: 1.5em;
	font-style: italic;
}

iframe {
	max-width: 100%;
}

#front_page_youtube {
	display: block;
	margin: 0 0 1em 0;
}

div.fb-page {
	max-width: 100%;
}

#mc_embed_signup {
	width:500px;
	max-width: 100%;
}
